/* General Reset */
* {
  padding-top: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Footer Styling */
.footer {
  background-color: #000000;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Top Image Styling */
.footer-top-image img {
  width: 350px; /* Default size */
  height: auto;
  display: block;
  margin: 0 auto 10px; /* Keep the 10px space below the image */
}

/* Social Icons Styling */
.socialIcons {
  display: flex;
  align-items: flex-start; /* Align items to the top */
  justify-content: center; /* Center the icons horizontally */
  margin-top: -25px; /* Move the icons closer to the image */
}

.socialIcons a {
  color: white;
  font-size: 28px;
  margin: 0 12px; /* Space between icons */
  transition: 0.3s;
}

.socialIcons a:hover {
  color: #ff00bf;
}

/* Footer Bottom Styling */
.footer-bottom {
  margin-top: 10px;
  padding: 10px 0;
}

.footer-bottom h4 {
  font-size: 14px;
  color: #bbb; /* Slightly greyish color */
  margin-bottom: 8px;
}

.footer-bottom h3 {
  font-size: 12px;
  font-weight: bold;
  color: #fff; /* Whiter bold text */
  margin-bottom: 5px;
}

/* Footer Navigation */
.footerNav ul {
  list-style: none;
  padding-top: 10px;
}

.footerNav ul li {
  display: inline;
  margin: 0 8px;
  font-size: 15px
}

.footerNav ul li a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.footerNav ul li a:hover {
  color: #ff00bf;
}

.footer-bumper {
  height: 5px;
  background-color: #222;
  margin-top: -4px;
}

/* Media Queries for Responsive Design */
@media (max-width: 1600px) {
  .footer-top-image img {
    width: 250px; /* Adjust logo size */
  }
}

@media (max-width: 800px) {
  .footer {
    padding: 15px 0;
  }
  .footer-top-image img {
    width: 190px; /* Smaller logo */
  }
  .socialIcons a {
    font-size: 20px; /* Smaller icons on smaller screens */
    margin-top: 15px;
  }
  .footer-bottom h4 {
    font-size: 10px;
  }
  .footer-bottom h3 {
    font-size: 8px;
  }
  .footerNav ul li {
    display: inline;
    margin: 0 1px;
    font-size: 10px;
  }
}
