body {
  background-color: white !important;
}

.top-image-container {
  width: 100%;
  overflow: hidden;
}

.top-image {
  width: 100%;
  height: auto;
  display: block;
}


.menu-button svg {
  fill: white;
}

.sidebar {
  display: none;
}
