/* General Styling for Merch Page */
body {
    background-color: #140329;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.merch-grid {
    z-index: 999;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 items across */
    gap: 50px; /* Increased gap between items */
    padding: 80px;
    max-width: 1800px;
    margin: 0 auto;
    grid-template-rows: repeat(5, 650px); /* Adjust the rows height to match the item height */
}


.merch-item {
    position: relative;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    height: 680px; /* Increase the height to allow more space for the description text */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.merch-item img {
    width: 100%;
    height: 100%; /* Make sure the image covers the full space */
    object-fit: contain;
    border-radius: 8px;
    transition: opacity 0.3s ease-in-out;
}

.description {
    position: absolute;
    bottom: 10px; /* Position text at the bottom of the image */
    width: 100%;
    text-align: center; /* Center text horizontally */
    color: white;
    font-weight: bold;
    font-size: 20px; /* Adjusted for better readability */
    padding: 10px 15px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for readability */
    margin: 0;

}

.merch-item .front,
.merch-item .back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.merch-item .front {
    z-index: 1;
}

.merch-item .back {
    z-index: 0;
    opacity: 0;
}

.merch-item:hover .front {
    opacity: 0;
}

.merch-item:hover .back {
    opacity: 1;
}

.image-container {
    margin-top: -75px;
    text-align: center;
}

.backgroundimg {
    width: 100%;
    height: auto;
}

/* Add the merch text at the bottom of the page */
.merch-bottom-text {
    text-align: center;
    font-size: 40px; /* Large font size */
    font-weight: bold; /* Make it bold */
    margin-top: 40px;
    color: white;
    font-family: 'Arial', sans-serif;
}

/* Dropdown button and menu */
.dropdown-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.btn-transparent {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 16px;
}

.btn-transparent:hover {
    color: #FF8EB6;
}

.dropdown-menu {
    background-color: #140329;
}


.merch-bottom-text {
    margin: -3550px;
}

footer {
    margin: -25px
}