* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

body {
    height: 100vh;
    background-size: 5000px;
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
}

li {
    text-decoration: none;
    list-style: none;
    text-align: center;
    font-size: 2em;
    margin-left: 3em;
    margin-right:3em ;
}

a {
    text-decoration: none;
    color: inherit;
    text-align: center;
}

ul {
    list-style: none;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    max-height: 100%;
    display: block;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly; /* Center the navbar items horizontally */
    padding: 10px 30px;
    color: #fff;
    position: fixed;
    width: 100%;
    transition: all 0.5s;
}

.header-scrolled {
    background-color: black;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.links {
    display: flex;
    column-gap: 10px;
    text-align: center;
}

#addon {
    transform: translate(0px, 160px);
}
.logo {
    text-align: justify;
}

p{
    text-align: justify;
}

#addon { 
  transform: translate(0px,160px);  
}

*, *::before, *::after {
    box-sizing: border-box;
}

.carousel { 
    width:100vw;
    height: 100vh;
    position: relative;
}

.carousel > ul { 
   margin: 0; 
   padding: 0;
   list-style: none; 

}
.slide {
    position: absolute; 
    inset: 0;
    opacity: 0;
}

.slide > img { 
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; 
}

.slide[data-active] {
   opacity: 1; 
}

.carousel-button { 
    position: absolute;
    z-index: 2;
    background: none;
    border: none; 
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rbga(255, 255, 255 .5);
    cursor: pointer; 
    border-radius: 0.25rem;
    padding: 0.5rem; 
    background-color: rgba(0, 0, 0, 0.15)
}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button:focus { 
    outline: 1px solid black;  
}

.carousel-button.prev { 
    left: 1rem;
}

.carousel-button.next { 
    right: 1rem;
}

