/* General Page Styling */
body {
    background-color: white !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

/* Video Container */
.video-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* Background Video */
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.95;
}

/* YouTube Video */
.youtube-video {
    position: absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;  
    height: 39.375vw; 
    max-width: 960px; 
    max-height: 540px;
}

/* Scroll Indicator */
.scroll-indicator {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 60px;  
    font-weight:bold;  
    color: white;
    animation: bounce 1.5s infinite;
}

/* Bounce Animation */
@keyframes bounce {
    0%, 100% { transform: translateX(-50%) translateY(0); }
    50% { transform: translateX(-50%) translateY(15px); }  /* Increased bounce */
}


/* mmerch caroseul */
.merch-carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.merchcarousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.merchcarousel-track img {
    width: 100%;
    height: auto;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}